<div class="hero-unit">
  <h1>Superb Event Management!</h1>
  <p>This is the world's best events website. You should totally use it!</p>
  <p><a href="/events" class="btn btn-primary btn-large">Check it out »</a></p>
</div>
